frontend/node_modules
frontend/build

frontend/.env.local
frontend/.env

backend/.env
backend/.env.local
backend/**/*.pyc
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/
frontend/.env.production
